* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: lightgray;
}

.container>div,
.project-card,
.annoucements,
.trendings {
    border: 1px solid black;
}

.sidebar {
    background-color: lightblue;
}

.header,
.project-card,
.annouce-card,
.trend-card {
    background-color: white;
}

/* main grid */
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    height: 100vh;
}

.sidebar{
    grid-area: 1 / 1 / -1 / 2 ;
    /*  */
    display: grid;
    grid-template-rows: 2fr 5fr 5fr;
    align-items: start;
    /* gap: 50px; */
}
.header{
    grid-area: 1 / 2 / 2 / -1 ;
    /*  */
    display: grid;
    grid-template-rows: 1fr 1.5fr ;
}
.main-content{
    grid-area: 2 / 2 / -1 / -1;
    /*  */
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content .main-panel{
    height: 100%;
}

.main-content .projects{
    grid-area: 1 / 1 / 3 / 2 ;
    /*  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.main-content .side-panel{
    grid-area: 1 / 2 / -1 / 3 ;
    /*  */
    display: grid;
    grid-template-rows: 1fr 1fr;
}
/* sub-grid side-bar */
.sidebar > div{
    display: grid;
    gap: 10px;
}

/* sub-grid header */
.header .header-row1{
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
}
.header-row1 .notificationCell{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
}
/*  */


