@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --blue: #bae6fd;
    --darkblue: #2563eb;
    --white: #eff6ff;
    --amber: #facc15;
    --grey: #cbd5e1;
    /* color source :  https://tailwindcss.com/docs/customizing-colors */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--grey);
}

.announcements,
.trendings {
    background-color: var(--white);
}

.sidebar {
    background-color: var(--blue);
}

.header,
.project-card,
.announce-card,
.trend-card {
    background-color: var(--white);
}

.sidebar {
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
}

.logo {
    font-size: 2rem;
    font-weight: 600;
}

.logo p:hover {
    cursor: pointer;
}

.sidebar-main p:hover,
.sidebar-extra p:hover {
    background-color: var(--darkblue);
    color: var(--white);
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 5px 5px 14px 0.5px rgba(0, 0, 0, 0.33);
}

img.logo {
    width: 60px;
    height: 60px;
}

img.icon {
    width: 35px;
    height: 25px;
}

img.user-icon,
img.user-icon-big {
    border-radius: 100px;
    aspect-ratio: 1 / 1;
}

img.user-icon {
    width: 50px;
}

img.user-icon-big {
    width: 70px;
}

img.icon:hover,
img.user-icon:hover,
img.user-icon-big:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.header {
    box-shadow: 5px 5px 14px 0.5px rgba(0, 0, 0, 0.33);
}

.searchCell input {
    width: 90%;
    background-color: var(--grey);
    border: 0;
    border-radius: 25px;
    padding: 5px 20px;
}

.notificationCell p {
    font-weight: 600;
    font-size: 1.25rem;
}

.welcomeCell {
    font-weight: 600;
}

.actionCell button {
    padding: 15px 50px;
    background-color: var(--blue);
    border: none;
    border-radius: 100px;
}

.actionCell button:hover {
    background-color: var(--darkblue);
    color: var(--white);
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 5px 5px 14px 0.5px rgba(0, 0, 0, 0.33);
}

.main-content h2 {
    padding-bottom: 10px;
}

.project-card {
    border-radius: 15px;
    box-shadow: 0px 5px 14px 3px rgba(0, 0, 0, 0.33);
    border-left: 10px solid var(--amber);
}

.project-card:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.project-card h4 {
    font-size: 1.3rem;
}

.project-card p:first-of-type {
    opacity: 0.7;
}

.announce-card h5 {
    font-size: 1.1rem;
    padding: 5px 0;
}

.announce-card p,
.announce-card hr {
    opacity: 0.7;
}

.announcements,
.trendings {
    border-radius: 10px;
    box-shadow: 0px 5px 14px 3px rgba(0, 0, 0, 0.33);
}

.trend-card p:last-of-type {
    opacity: 0.5;
}

.announce-card:hover,
.trend-card:hover {
    cursor: pointer;
}

/* main grid */
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow: hidden; */
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    padding: 20px;

    /*  */
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 10px;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    /*  */
    display: grid;
    grid-template-rows: 1fr 1.5fr;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    /*  */
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 40px;

}

.main-content .main-panel {
    grid-area: 1 / 1 / -1 / span 1;
    /*  */
    display: flex;
    flex-direction: column;
}

.main-content .side-panel {
    grid-area: 1 / 2 / -1 / 3;
    /*  */
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

/* sub-grid .projects */
.main-content .projects {
    flex: 1;
    /*  */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.projects .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.project-card p:last-child {
    display: flex;
    justify-content: end;
    gap: 15px;
}

/* sub-grid side-bar */
.sidebar>div {
    display: grid;
    gap: 15px;
    align-content: start;
}

.sidebar p {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* sub-grid header */
.header {
    padding: 10px 20px;
}

.header .header-row1 {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    align-content: center;
}

.header-row1 .searchCell p {
    display: flex;
    justify-content: space-between;
}

.header-row1 .notificationCell {
    justify-self: end;
    /*  */
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.header .header-row2 {
    /*  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-row2 .welcomeCell {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
}

.welcomeCell img {
    grid-area: 1 / 1 / -1 / 2;
}

.welcomeCell p {
    grid-area: 1 / 2 / 2 / 2;
    align-self: end;
}

.welcomeCell h1 {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
}

.header-row2 .actionCell {
    justify-self: right;
    /*  */
    display: flex;
    gap: 2vw;
    justify-content: space-around;
}

/* sub-grid side-panel */
.side-panel .announcement-panel,
.side-panel .trending-panel {
    display: flex;
    flex-direction: column;
}

.announcement-panel .announcements,
.trending-panel .trendings {
    padding: 15px 30px;
    flex: 1;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trendings .trend-card {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    align-content: center;
}

.trend-card img {
    grid-area: 1 / 1 / -1 / 2;
}

/*  */
.main-content,
.projects,
.side-panel {
    min-width: 0;
    min-height: 0;
}